html {
	background: linear-gradient(#3a7bd5, #3a6073) no-repeat center center fixed;
	background-size: cover;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.5em;
}

h3 {
	margin: 0.2em;
	font-size: 1.5em;
}

#celsius,
#fahrenheit {
	background: none;
	background-color: none;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 5px;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
	outline: none;
	font-weight: bold;
	margin: 0px 5px;
}

#submit {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #dddddd 100%);
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 1.4em;
	font-weight: bold;
	padding: 6px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	outline: none;
}
#submit:hover {
	background: linear-gradient(to bottom, #dddddd 5%, #ffffff 100%);
	background-color: #dddddd;
}
#submit:active {
	position: relative;
	top: 2px;
}

#input-form {
	display: flex;
	flex-direction: column;
	width: 80vw;
}

#input-box {
	padding: 5px;
	font-size: 1.4em;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #000000;
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
	margin-bottom: 0.4em;
}

#input-box:focus {
	outline: none;
}

.weather-container {
	background-color: rgba(255, 255, 255, 0.3);
	width: 90vw;
	height: 60vh;
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.weather-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}

#temperature {
	font-size: 3em;
	margin: 0.3em;
}

#icon {
	object-fit: contain;
}

@media (min-width: 576px) {
	.weather-container {
		height: 200px;
		width: 80vw;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	#input-form {
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
	}

	#submit {
		padding: 6px 30px;
		margin-left: 10px;
	}

	.weather-info {
		margin: 0;
	}
}

@media (min-width: 768px) {
	.weather-container {
		height: 250px;
	}
}

@media (min-width: 992px) {
	.weather-container {
		width: 50vw;
	}
}
